$sansseriffont: Verdana, sans-serif;
$monofont: 'PT Mono', monospace;
// $font-family-base: $monofont;

// $headings-font-family: $sansseriffont;
// $font-size-base: 1.2rem;

$browser-base: 16;

$fa-font-path: "../fonts";