//--- 
// Typography
//---

$sansseriffont: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $monofont: 'PT Mono', monospace;

$font-size-base-responsive: calc(0.8rem + 0.5vw);

$btn-font-size-responsive: calc(1rem + 0.5vw);
$btn-font-size: 1.5rem;

$browser-base: 16;

$fa-font-path: "../fonts";



//--- 
// Colors
//---

$white: #fff;
$black: #242424;

$c-pri: '';
$c-sec: '';
$c-ter: '';



//--- 
// Generic
//---

$border-radius: 0.5rem;