{# Define global variables #}
{% set rootUrl = 'https://localhost/' %}
{# End Define all global variables #}

{# Import global macros #}
{% import 'macros/meta.njk' as meta %}
{% import 'macros/nav.njk' as nav %}
{% import 'macros/btn.njk' as btn %}
{% import 'macros/tabs.njk' as tabs %}
{% import 'macros/carousel.njk' as carousel %}
{% import 'macros/modal.njk' as modal %}
{% import 'macros/fancy.njk' as fancy %}
{# End Import global macros #}

{% block layout %}
{% endblock %}