
{% extends "globals.njk" %}
{% block layout %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% call meta.title() %}{% block title %}Welcome to the site{% endblock %}{% endcall %}
    {% call meta.description() %}{% block description %}This is a wonderful site{% endblock %}{% endcall %}
    <meta name="keywords" content="{% block keywords %}global,keywords,all,here{% endblock %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="{{ rootUrl }}{% block ogimage %}img/og/placeholder.png{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ rootUrl }}{{ pagefile }}" />

    <!-- plugin stylesheets -->
    {# <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/> #}
    <!-- end plugin stylesheets -->

    <link rel="stylesheet" href="css/main.css">

</head>
<body class="{{ bodyclass }}">

    {% block content %}
    {% endblock %}

    {% include "partials/_footer.njk" %}

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/bundle.js"></script>
    <!-- plugin scripts -->
    {# <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script> #}
    <!-- end plugin scripts -->
    <script src="js/main.js"></script>
</body>
</html>

{% endblock %}