<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col footer_copyrights">
                Copyright &copy; <span id="footerYear">2019</span> All Rights Reserved.
            </div>
            <script>
                document.getElementById("footerYear").innerHTML = new Date().getFullYear();
            </script>
        </div>
    </div>
</footer>