{% extends "layout.njk" %}
{% set bodyclass = 'page-index' %}
{% set pageName = 'index' %}
{% set pagefile = pageName|lower+'.html' %}
{% block title %}Index page title{% endblock %}
{% block description %}Index page description{% endblock %}

{% block content %}
<header>
    {{nav.main(pageName)}}
</header>

<main>
    
    {{ btn.link() }}
</main>

{% endblock %}
